
@{
    ViewBag.Title = "Edu";
}

<h4>Educationa Background</h4>
<h3>
    <ul>
        SSC :<br /> Kalachandpur High School and College (5.00)
        HSC : <br />Kalachandpur High School and College (4.89)
        BSc :<br />American International University-Bangladesh
    </ul>
</h3>
<a href="../CV/Index">Index Page</a>
