
@{
    ViewBag.Title = "Edu";
}

<h4 align="center">Educationa Background</h4>
<h3 style="color:MediumSeaGreen;">
    <ul>
        SSC :<br /> Kalachandpur High School and College (5.00)<br />
        HSC : <br />Kalachandpur High School and College (4.89)<br />
        BSc :<br />American International University-Bangladesh<br />
    </ul>
</h3>
<a href="../CV/Index">Index Page</a>
