
@{
    ViewBag.Title = "Index";
}
<h2 align="center">@ViewBag.Name</h2>
@*<h4>Index Page</h4>*@
<ul>
    <h2>Name : Dipanwita Saha</h2>
    <h2>Email: dipanwitasaha7009@gmail.com</h2>
    
</ul>
<ul>
    <a href="../CV/Person">Personal Background</a>
    <a href="../CV/Edu">Education Level</a>
    <a href="../CV/Project">Previous Projects</a>
    <a href="../CV/Ref">References</a>
</ul>

