
@{
    ViewBag.Title = "Person";
}

<h2>Personal Background</h2>

<p><h4>
    Name: Dipanwita Saha<br><br />
    Father's 'Name: Depal Kanti Saha<br /><br />
    Mother's 'Name: Jayanti Saha<br /><br />
    Date of Birth: 01.08.2001<br /><br />
    Religion: Hindu<br /><br />
    Mobile Number:01720246009<br /><br />
    Email:dipanwitasaha7009@gmail.com<br /><br />
    Present Address: Kalachandpur, Gulshan, Dhaka-1212<br /><br />
    Permanent Address: Majumdarkhil, Chittagong<br /><br />
</h4>
</p>
<a href="../CV/Index">Index Page</a>


