
@{
    ViewBag.Title = "Project";
}
<h2 align="center"><b>Projects</b></h2>

<ul>
    <h3>Introduction To Programming</h3>
    <h4 style="color:DodgerBlue;">Employee management System (2020)</h4style="color:DodgerBlue;">
    <h3>Object Oriented Programming</h3>
    <h4 style="color:DodgerBlue;">Electricity Billing System (2020)</h4>
    <h3>Database</h3>
    <h4 style="color:DodgerBlue;">Coffee Shop Management (2021)</h4>
    <h3>Object Oriented Programming 2</h3>
    <h4 style="color:DodgerBlue;">Remotely Assistant Workers(RAW)(2021)</h4>
    <h3>Computer Graphics</h3>
    <h4 style="color:DodgerBlue;">Fest Of Harmony(FOH)(2021)</h4>
    <h3>Web Technologies</h3>
    <h4 style="color:DodgerBlue;">Easy Store(2022)</h4>
</ul>
<a href="../CV/Index">Index Page</a>