
@{
    ViewBag.Title = "Project";
}
<h2><b>Projects</b></h2>

<ul>
    <h3>Introduction To Programming</h3>
    <h4>Employee management System</h4>
    <h3>Object Oriented Programming</h3>
    <h4>Electricity Billing System</h4>
    <h3>Database</h3>
    <h4>Coffee Shop Management</h4>
    <h3>Object Oriented Programming 2</h3>
    <h4>Remotely Assistant Workers(RAW)</h4>
    <h3>Computer Graphics</h3>
    <h4>Fest Of Harmony(FOH)</h4>
    <h3>Web Technologies</h3>
    <h4>Easy Store</h4>
</ul>
<a href="../CV/Index">Index Page</a>