
@{
    ViewBag.Title = "Ref";
}

<h2><b>References</b></h2>

<ul>
    <h3>Tanvir Ahmed</h3>
    <h4>Lecturer</h4>
    <h4>American International University-Banladesh</h4>
    <h3>Nabil Ahmed</h3>
    <h4>Manager</h4>
    <h3>ABC Company</h3>
    
</ul>
<a href="../CV/Index">Index Page</a>